<div>

  <h1 id="abouttitle">at sunrise equine...</h1>
  <!-- <div class="brownline"></div> -->

  <div class="white">
    <p>
      ...we not only offer a quality boarding facility with access to 40 acres of irrigated pasture and a massive grass arena; we offer a tranquil environment with a friendly, supportive, and passionate community of equestrians of all different ages and disciplines.
    </p><br /><br />
    <p>
      At Sunrise Equine, you'll find high quality care for your equine partner. We know if the horses are happy, you are happy!
    </p><br /><br />
    <p>
      Located just five minutes east of I-25 and only 15 minutes from CSU, access is easy.
      If you are interested in lessons, leasing, or horses for sale, please <a href="#contact">contact</a> us!
    </p><br /><br />
    <p style="text-align:center;">
      <strong>(970) 690–1478</strong><br />
    </p>
  </div>

  <!-- <div class="brownline"></div> -->

</div>
